
.main_login{
    height: 100vh;
    display: flex;
}

.banner{
    flex: 1;
    background-color: #B51D44;
    background-image: url("../../assets/images/banner.svg");

    background-position: center;
    background-repeat: no-repeat;
}

.section_login{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section_login img{
    gap: 20px;
    width: 250px;
}

.form_login{
    width: 50%;
    height: 50%;
    display: flex;
    color: #B51D44;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.esqueceu_senha a{
    display: flex;
    color: #A6A0A0;
    margin-top: 50px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.input_login{
    width: 100%;
}

.input_login {
    display: flex;
    flex-direction: column;
}

/* .input_login hr{
    width: 320px;
    color: #000000;
} */

.input_login input{
    height: 30px;
    width: 300px;
    margin-top: 15px;
    border-top: none;
    padding: 0px 7px;
    color: #B4A9A9;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    border-color: #000000;
    /* border: none; */
}

@media screen and (max-width: 773px){ /*Me dá caracteristicas a partir de um tamnaho da tela */
   .banner{
    display: none;
   }
}