.botao{
    border: none;
    width: 200px;
    height: 30px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bolder; /*Para deixar em negrito*/
    background-color: #B51D44;
}