.section_cadastro{
    color: #000000;
    padding:50px 0px; 
}

.form_cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_cadastro h1{
    margin-top: 30px;
    font-size: medium;
    text-transform: uppercase;
}

.form_cadastro hr{
    width: 100%;
    margin-top: 7px;
    max-width: 145px;
    border-width: 1px;
    border-style: solid;
    border-color: #B51D44;
}

.campos_cadastro{
    gap: 35px;
    display: flex;
    padding-top: 50px;
    align-items: center;
}

.campos_cad_nome input,
.campos_cad_nome select{
    margin: 30px;
    width: 300px;
    height: 30px;
    display: flex;
    outline: none;
    outline: none;
    margin-top: 7px;
    padding: 0px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    border-color: #000000;
}

.campo_cad_nome input{
    margin-bottom: 70px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.campo_cad_data input{
    margin-bottom: 70px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-top: 10px;
}

.campo_cad_instituicao select{
    margin-bottom: 70px;
    padding-top: -20px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.campo_cad_descricao textarea {
    margin-bottom: 40px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.campos_cad_tipoevento select{
    margin-bottom: 70px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-bottom: -10px;
}

.campos_cad_evento{
    color: #B4A9A9;
    margin-bottom: 30px;
}

.campo_preenchido{
    display: flex;
    place-items: center;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
}

@media screen and (max-width:880px){
    .campos_cadastro{
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:340px){
    .form_cadastro h1{
        font-size: 20px;
    }
}